body {
  background-image:url(../img/day.jpg);
  background-size: 100vw 100vh;
  background-color: blue;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  display: block;

}

.init {
  display: block;
  position: fixed;
}
