body {
  background-image:url(../img/day.jpg);
  background-size: 100vw 100vh;
  background-color: blue;
  margin: 0;
  padding: 0;
  text-align: center;
}

#init {
  margin: 15;

}

.eggs {
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: space-evenly;
  margin: 100px 20px 0 20px;
}
