body {
  background-image:url(../img/day.jpg);
  background-size: 100vw 100vh;
  background-color: blue;
  margin: 0;
  padding: 0;
  text-align: center;
}

#init {
  margin: 50px 10px 50px 10px;

}

#eggs {
  /* background: url(../img/egg1.png) no-repeat;
  background: url(../img/egg2.png) no-repeat;
  background: url(../img/egg3.png) no-repeat; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
